@charset "utf-8";
/* CSS Document */

h1 {font-size:64px; color:#000; text-align:center;
}
td {font-size:18px; color:#00F;text-align:center}
p {font-size: 17px; color:#000;text-align:center}


#Container {font-size:36px; text-align:center; color:#00F; font-weight:bold;
}
body{
	background-color:#d0f2f5;
}
<id>
